# Python
__pycache__/
*.pyc
venv/
.env

# Node
node_modules/

# OS files
.DS_Store
Thumbs.db

# Scratch raw JSON dumps
scratch_raw_json/
*.sb3

# Logs
*.log

ScoringGuide.pdf

results_rr.json

# Generated stage pipeline artifacts
dumps/